    <!-- Demo -->

    <div class="demo-footer">
        <div class="demo-first-header">
          <h4>You can’t stop time, but you can save it!</h4>
          <p>
            Living in the city, there is never enough time to shop for groceries,
            pick-up supplies, grab food and wade through traffic on the way back
            home. How about we take care of all of the above for you? What if we
            can give you all that time back? Send packages across the city and get
            everything from food, groceries, medicines and pet supplies delivered
            right to your doorstep. From any store to your door, just make a list
            and we’ll make it disappear. Just Dunzo It!
          </p>
        </div>
  
        <div class="demo-second-header">
          <div class="row">
            <div class="col-lg-2">
              <img
                class="demo-footer-first-img"
                src="Images/dunzo footer logo.jpg"
                alt=""
              />
            </div>
            <div class="col-lg-2">
              <h5>ORDER KARO</h5>
              <p>About</p>
              <a href="/shopAdminLogin"><p>Sign in as a Shop Admin</p></a>
              <a href="/shopAdminRegister"><p>Request for a Shop Approval</p></a>
              <p>Jobs</p>
              <p>Contact</p>
              <p>Terms and Conditions</p>
              <p>Privacy Policy</p>
              <p>Dunzo for Partner</p>
              <p>Dunzo for Buisness</p>
            </div>
            <div class="col-lg-2">
              <h5>SERVICEABLE CITIES</h5>
              <p>Banglore</p>
              <p>Pune</p>
              <p>Gurgaon</p>
              <p>Delhi</p>
              <p>Hyderabad</p>
              <p>Mumbai</p>
              <p>Ahmadabad</p>
            </div>
            <div class="col-lg-2">
              <h5>GET IN TOUCH</h5>
              <a href="mailTo:kumarwaidande7219@gmail.com"><p>Email</p></a>
              <p>Twitter</p>
              <p>Facebook</p>
              <a href="https://instagram.com/order_karooo?igshid=ZDdkNTZiNTM="><p>Instagram</p></a>
              <p>Linked In</p>
            </div>
            <div class="col-lg-2">
              <img class="demo-footer-second-img" src="Images/dunzo footer man logo.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
  
      <!--  -->
    </body>
  </html>
  