

  
<div class='progress' id="progress_div">
    <div class='bar' id='bar1'></div>
    <div class='percent' id='percent1'></div>
  </div>
  <input type="hidden" id="progress_width" value="0">
  
  <div class="container navbar-container">
      <!-- Navbar Front Page USing bootstrap -->
      <nav class="navbar navbar-expand-lg fixed-top navbar-container">
        <div class="container-fluid">
          <nav class="navbar brand-navbar">
            <div class="container">
              <a class="navbar-brand" href="/homePageShopAdmin">
                <img
                  src="Images/final_logo_order_karo5.png"
                  alt="Bootstrap"
                  width="170"
                  height="28"
                />
              </a>
            </div>
          </nav>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <li class="d-flex sign-in-button">
             <a href="/updateProductPage"><button type="button" class="btn btn-dark">Update Products</button></a> 
            </li>
            <li class="d-flex">
                <a href="/insertProductPage"><button type="button" class="btn btn-dark">Insert Products</button></a>
            </li>  
            <li class="d-flex">
                <a href="/shopAdminLogOut"><button type="button" class="btn btn-dark">Log out</button></a>
            </li>
          </div>
        </div>
      </nav>
    </div>
  
  