





<%- include("partials/header.ejs") -%>

    <link rel="stylesheet" href="\css\createOrLogin.css">
</head>
<body>
    <%- include("partials/navbar.ejs") -%>


     <!-- How it works begins -->

  <div class="working reveal">
    <h1 class="working-title-to-be-bold">Create Your Shop Easily on OK..</h1>
    <p class="title-subtext"> "Bringing the freshest ingredients to your doorstep - one new shop at a time." <br>
        https://instagram.com/order_karooo?igshid=ZDdkNTZiNTM= </p>
    <div class="working-holder">
      <div class="row">
        <div class="col-lg-4">
          <img class="working-img" src="Images/man noticing.png" alt="">
          <!-- <div class="tenor-gif-embed" data-postid="17076793" data-share-method="host" data-aspect-ratio="1" data-width="100%">
            <a href="https://tenor.com/view/cute-adorable-drive-delivery-gif-17076793">Cute Adorable Sticker</a>
            from <a href="https://tenor.com/search/cute-stickers">Cute Stickers</a></div>
             <script type="text/javascript" async src="https://tenor.com/embed.js"></script> -->

             <!-- <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/e6lyxcRngMS1jbTyXS" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/smartypants-lavieenslip-e6lyxcRngMS1jbTyXS">via GIPHY</a></p> -->

          <h3 class="working-title-to-be-bold"><span class="working-numbers">01. </span>Clear and Simple Navigation </h3>
          <p>The navigation should be clear and simple to make it easy for customers to 
            find the products they are looking for. You can categorize the products by type, brand, or other relevant criteria.</p>
        </div>
        <div class="col-lg-4">
          <img class="working-img" src="Images/delivary boy with pakg. for create shop page.png" alt="">
          <h3 class="working-title-to-be-bold"><span class="working-numbers">02. </span>Shopping Cart </h3>
          <p>Make it easy for customers to add products to their shopping cart and check out.
            The shopping cart should be prominently displayed and easy to use.</p>
        </div>
        <div class="col-lg-4">
          <img class="working-img pricing" src="Images/pricing for create shop page.jpg" alt="">
          <h3 class="working-title-to-be-bold"><span class="working-numbers">03. </span>Pricing </h3>
            <p>Display prices clearly and consistently throughout the website.
               Be transparent about any fees or additional costs, such as delivery fees or taxes.
            </p>
        </div>
      </div>
    </div>
  </div>

  <!-- End of how it works section -->

    
    <div class="buttons">
        <!-- <iframe src="https://giphy.com/embed/K1HCp1Z3ml70V4ajiD" width="150" height="150"></iframe><p><a href="https://giphy.com/gifs/publix-greenwise-market-pgwm-K1HCp1Z3ml70V4ajiD">Fast and Fresh Delivary of Grocery</a></p> -->
        <a href="/shopCreationPage"><button type="button" class="btn btn-primary btn-lg btn-create" >Create Shop</button></a>
        <!-- <button type="button" class="btn btn-secondary btn-lg btn-login">Admin Login </button> -->
    </div>


<%- include("partials/footer") -%>