<%- include("partials/header.ejs") -%>


    <link rel="stylesheet" href="/css/homePageShopAdmin.css">

  </head>

  <body>

    <!-- 
        Navbr for shop Admin
     -->
    <%- include("partials/navbarForShopAdmin.ejs") -%>



    <main>
 


      <div class="how-section1">
        
        <div class="row">
            <div class="col-md-6">
                <h4>Welcome to The Shop</h4>
                            <h4 class="subheading">Use above links to manipulate products.</h4>
                            <p class="text-muted">Lore adipisci aliquam vel enim tempore deleniti! Repudiandae praesentium nesciunt harum? Cumque non ex earum voluptatum perferendis ad nostrum animi officia excepturi. Consequatur, rerum corporis neque itaque asperiores quam eligendi animi placeat provident esse nam adipisci nostrum saepe optio ratione! Quaerat eum exercitationem quia fugiat voluptatem blanditiis culpa. Similique ducimus illo neque architecto atque. Sed numquam suscipit repellendus mollitia maiores nihil deserunt ratione, debitis ipsam dignissimos dolore fugit magni quod ipsa ex nulla corporis provident earum error alias eaque nobis. Doloremque, amet sapiente! Quo eum eaque reprehenderit alias minus, a dolores cum, ea vitae repudiandae, temporibus facere. Maxime dolores eveniet deserunt odit eaque id esse nesciunt! Quis, est vero, quam, atque dolorem magnam sequi dicta quasi minima libero quisquam.</p>
            </div>
            <div class="col-md-6 how-img">
                <img src="Images/Adminhomepageimage .png" class="rounded-circle img-fluid" alt=""/>
            </div>
        </div>
    </div>
      
        <!-- Needed -->
      </main>
   
   
   
   
   
   
      <!-- 
        Footer for shop Admin
     -->
    <%- include("partials/footer") -%>