<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <link rel="stylesheet" href="/css/paymentSuccessPage.css">
</head>
<body onload="changeRoute();">
    <div class="wrapperAlert">

        <div class="contentAlert">
      
          <div class="topHalf">
      
            <p><svg viewBox="0 0 512 512" width="100" title="check-circle">
              <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
              </svg></p>
            <h1>We are By passing this payment process</h1>
      
           <ul class="bg-bubbles">
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
           </ul>
          </div>
      
          <div class="bottomHalf">
      
            <p>In this payment no real money is deducted from your account. <br>
              <span>Reason : Due to some account creation problems we were not able to open an account on payment gateway platform. Therefore no payment gateway is used.</span>
            </p>
      
            <!-- <button id="alertMO">Proceed Further</button> -->
      
          </div>
      
        </div>        
        
      </div>

      <script src="/JS4/paymentSuccessPage.js"></script>
</body>
</html>